caption {
    caption-side: top;
    text-align: center
}

.red {
    color: red;
}

.green {
    color: #34ce57;
}

.login, .logout {
    color: aqua;
}

.login:hover, .logout:hover {
    color: #9fcdff;
}

.show>.btn-outline-secondary.dropdown-toggle {
    color: navajowhite;
}

.form-check-input {
    margin-left: 10px;
}

.user {
    color: white;
    padding-top: 8px;
}